<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form action="" [formGroup]="login">
      Name: <input type="text" formControlName="name">
      <div *ngFor="let er of errors">
        <ng-container *ngIf="login.get('name')hasError(er.type) && (login.get('name').touched || login.get('name').dirty)">
        {{er.message}}
        </ng-container>

      </div>
  </form>
  </div>
</ion-content>
